<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Pathcraft Map</title>

	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

	<style>
		#map {
			height: 100vh;
		}
	</style>
</head>

<body>
	<div id="map"></div>

	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

	<script>
		// =====================
		// Map bootstrap
		// =====================
		const map = L.map('map').setView(
			[{{ .CenterLat }}, {{ .CenterLon }}],
			{{ .Zoom }}
		);

		/// TODO: Enable route creation on click(approx and real nodes)
		//let from = null;
		//map.on('click', e => {
		//if (!from) {
		//	from = e.latlng;
		//	L.marker(from).addTo(map);
		//} else {
		//	const to = e.latlng;
		//	window.location = `/route?from=${from.lng},${from.lat}&to=${to.lng},${to.lat}`;
		//}
		//});

		L.tileLayer('{{ .TileURL }}').addTo(map);

		// =====================
		// Layers (stateful)
		// =====================
		let streetsLayer = null;
		let routeLayer = null;

		// =====================
		// Load graph (streets)
		// =====================
		fetch('{{ .StreetsURL }}')
			.then(r => r.json())
			.then(data => {
				streetsLayer = L.geoJSON(data, {
					style: {
						color: '{{ .StreetsColor }}',
						weight: {{ .StreetsWeight }}
					}
				}).addTo(map);
			});

		// =====================
		// Load route (explicit)
		// =====================
		function loadRoute(from, to) {
			fetch(`{{ .RouteURL }}?from=${from}&to=${to}`)
				.then(r => r.json())
				.then(data => {
					if (routeLayer) {
						map.removeLayer(routeLayer);
					}

					routeLayer = L.geoJSON(data, {
						style: {
							color: '{{ .RouteColor }}',
							weight: {{ .RouteWeight }}
						}
					}).addTo(map);

					map.fitBounds(routeLayer.getBounds());
				});
		}

		// =====================
		// DEBUG (example of debug for now)
		// =====================
		// loadRoute(1, 6);
	</script>
</body>
</html>
