<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Pathcraft Map</title>

	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

	<style>
		#map {
			height: 100vh;
		}
	</style>
</head>

<body>
	<div id="map"></div>

	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

	<script>
		const map = L.map('map').setView(
			[{{ .CenterLat }}, {{ .CenterLon }}],
			{{ .Zoom }}
		);

		L.tileLayer('{{ .TileURL }}').addTo(map);

		let fromNode = null;
		let toNode = null;
		let markers = [];

		map.on('click', e => {
			fetch(`/nearest?lat=${e.latlng.lat}&lon=${e.latlng.lng}`)
				.then(r => r.json())
				.then(data => {
					if (!fromNode) {
						fromNode = data.id;
						const m = L.marker(e.latlng).addTo(map).bindPopup(`From: ${data.id}`).openPopup();
						markers.push(m);
					} else if (!toNode) {
						toNode = data.id;
						const m = L.marker(e.latlng).addTo(map).bindPopup(`To: ${data.id}`).openPopup();
						markers.push(m);
						loadRoute(fromNode, toNode);
					} else {
						fromNode = data.id;
						toNode = null;
						markers.forEach(m => map.removeLayer(m));
						if (routeLayer) map.removeLayer(routeLayer);
						
						const m = L.marker(e.latlng).addTo(map).bindPopup(`From: ${data.id}`).openPopup();
						markers = [m];
					}
				});
		});

		let streetsLayer = null;
		let routeLayer = null;

		fetch('{{ .StreetsURL }}')
			.then(r => r.json())
			.then(data => {
				streetsLayer = L.geoJSON(data, {
					style: {
						color: '{{ .StreetsColor }}',
						weight: {{ .StreetsWeight }}
					}
				}).addTo(map);
			});
		// TODO: USE CURSOR CLICK TO SETUP ROUTES
		function loadRoute(from, to) {
			fetch(`{{ .RouteURL }}?from=${from}&to=${to}`)
				.then(r => r.json())
				.then(data => {
					if (routeLayer) {
						map.removeLayer(routeLayer);
					}

					routeLayer = L.geoJSON(data, {
						style: {
							color: '{{ .RouteColor }}',
							weight: {{ .RouteWeight }}
						}
					}).addTo(map);

					map.fitBounds(routeLayer.getBounds());
				});
		}

		// =====================
		// DEBUG (example of debug for now)
		// =====================
		// loadRoute(1, 6);
	</script>
</body>
</html>
